<form [formGroup]="searchForm" class="d-grid sticky-top gap-3 py-3">
  <input
    formControlName="search"
    id="search"
    name="search"
    type="search"
    class="form-control form-control-sm"
    placeholder="Clave y/o descripción"
    autocomplete="off"
    autofocus
    aria-autocomplete="none" />
  <div class="d-inline-flex justify-content-between">
    <div class="d-inline-flex flex-wrap ps-2 gap-2">
      <span>Σ [{{ success }}]</span>
      <section class="">
        <span class="ico-image pe-1"></span>
        <div>[{{ percentage | number: '1.2-2' }}]%</div>
      </section>
    </div>
    <div app-theme class="d-inline-flex px-lg-2 gap-2 flex-wrap">
      @for (stat of statusList; track $index) {
        <button
          (click)="setStatus(stat)"
          [status]="stat"
          [active]="activeStatus"
          type="button">
        </button>
      }
    </div>
  </div>
</form>
<button
  ngbTooltip="Listar Clave"
  placement="end"
  class="btn btn-lg btn-dark rounded-5 position-fixed bottom-0 start-0 ms-2 mb-2"
  title="Listar Clave">
  <span class="ico-left-bar"></span>
</button>
