@import "local_variables";
@import "local_mixins";

@include iconsCollection($images-icon-collection);

.content-wrapper {
  max-width: 708px;
  max-height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      color: #ffffff;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      font-size: 1.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
      opacity: 0;
      pointer-events: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(-50%) scale(1.05);
      }
      &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.7);
      }
      &.prev {
        left: 1rem;
        &::before {
          content: "❮";
        }
      }
      &.next {
        right: 1rem;
        &::before {
          content: "❯";
        }
      }
    }

    // Al pasar el cursor sobre el contenedor de la imagen, se muestran los botones
    &:hover {
      .carousel-button {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .content-wrapper {
    height: 329px;
  }
}

@include media-breakpoint-up(lg) {
  .content-wrapper {
    height: 500px;
  }
}

nav button {
  width: 1.938rem;
  height: 1.938rem;
}

.modal-header[data-bs-theme="dark"],
.modal-footer[data-bs-theme="dark"] {
  background-color: $secundary;
  color: $text-color-dark;
}
