<header class="modal-header">
  <h4 class="modal-title">
    @if (isNewImageSlot()) {
      {{ code }} {{ index() + 1 }}
    } @else {
      {{ code }}
    }
    @if (editionMode()) {
      <small><span class="badge bg-info bg-gradient">Editando</span></small>
    }
  </h4>
  <button
    (click)="close('Cross click')"
    type="button"
    class="btn-close"
    aria-label="Close"
  ></button>
</header>
<div class="modal-body position-relative overflow-hidden">
  <div #content class="content-wrapper">
    @if (editionMode()) {
      <image-editor [item]="item()" [index]="index()" [dimensions]="dimensions()"></image-editor>
    } @else {
      <div [@slideAnimation]="index()" class="carousel-wrapper">
        <img
          #itemImage
          src="default.png"
          alt="Imagen del item" 
          draggable="false"
          crossorigin="anonymous"
          sizes="
            (min-width: 992px) 708px,
            (min-width: 576px) 466px,
            466px
          "
        />
        @if (hasPrev) {
          <button
            (click)="prevImage($event)"
            type="button"
            class="carousel-button prev"
          ></button>
        }
        @if (hasNext) {
          <button
            (click)="nextImage($event)"
            type="button"
            class="carousel-button next"
          ></button>
        }
      </div>
    }
  </div>
</div>
<footer class="modal-footer justify-content-between">
  @if (hasAuth) {
    @if (isNewImageSlot()) {
      <button (click)="close('Cancelar')" type="button" class="btn btn-outline-danger btn-sm">Cancelar</button>
    } @else {
      <button (click)="onRemove()" class="btn btn-sm btn-outline-danger">Remover</button>
    } 
  }
  @if (!isNewImageSlot() && images.length > 1) {
    <nav class="d-flex gap-2">
      @for (current of images; track $index; let i = $index) {
        <button
          (click)="goToImage(i)"
          [class.active]="i === index()"
          [disabled]="editionMode() && i !== index()"
          [attr.aria-label]="'Ir a la imagen ' + (i + 1)"
          type="button"
          class="btn btn-sm btn-outline-success rounded-circle"
          data-bs-toogle="button"
          aria-pressed="true"
        >
          {{ i + 1 }}
        </button>
      }
    </nav>
  }
  @if (hasAuth) {
    <div class="btn-group" role="group" aria-label="Edition Section">
      @if (isNewImageSlot() && editionMode()) {
        <button class="btn btn-sm btn-outline-success" [disabled]="loading()">Subir Imagen</button>
      } @else if (editionMode()) {
        <button (click)="toogleEdition(false)" [disabled]="loading()" class="btn btn-sm btn-outline-secondary active">
          <span class="ico-back"></span>
        </button>
        <button [disabled]="loading()" class="btn btn-sm btn-outline-success">Actualizar</button>
      } @else {
        <button (click)="toogleEdition(true)" class="btn btn-sm btn-outline-secondary">
          Editar
        </button>
      }
    </div>
  } 
</footer>
