@import "local_variables";
@import "local_mixins";

@include iconsCollection($title-bar-icon-collection);

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $title-bar-zindex;
  height: $title-bar-height;
  max-height: $title-bar-height;
  box-sizing: border-box;
  background-color: $title-bar-bg;
  color: $title-bar-text;
  @supports (-webkit-app-region: no-drag) {
    -webkit-app-region: no-drag;
  }
}
/* Área de arrastre: Título central */
.drag-handle {
  cursor: default;
}

/* Icono y texto del título */
.title-icon {
  width: $title-bar-icon-size;
  height: $title-bar-icon-size;
  cursor: pointer;
}

.title-text {
  font-size: $title-bar-font-size;
  color: $title-bar-control-button-color;
  cursor: pointer;
}

/* Botones generales */
.control-button {
  background: $title-bar-control-button-bg;
  border: $title-bar-control-button-border;
  color: $title-bar-control-button-color;
  cursor: pointer;
  font-size: $title-bar-font-size;

  &[routerlinkactive],
  &:hover {
    background-color: $title-bar-control-button-hover-bg;
  }

  &.close:hover {
    background-color: $title-bar-control-button-close-hover-bg;
  }
}

.dropdown-menu-flotante {
  background: $title-bar-dropdown-bg;

  & button[ngbDropdownItem] {
    background: $title-bar-control-button-bg;
    color: $title-bar-text;
    font-size: $title-bar-font-size;
    text-align: left;

    &:hover {
      background-color: $title-bar-control-button-hover-bg;
    }

    &.current {
      background-color: $title-bar-current-bg;
      font-weight: bold;
    }
  }
}