<header class="d-flex justify-content-between align-items-center mb-2">
  <h5>{{ code }}</h5>
  <button
    app-theme
    type="button"
    class="btn p-0 border-0"
    title="Modificar elemento"
    [attr.aria-label]="'Modificar elemento ' + code">
    <span class="ico-config"></span>
  </button>
</header>
<div class="img-placeholder mb-2">
  <img #lazyImage
    [hidden]="noImages"
    (click)="open()"
    src="default.png"
    sizes="
      (min-width: 1400px) 226px,
      (min-width: 1200px) 230px,
      (min-width: 992px) 281px,
      (min-width: 768px) 247px,
      320px"
    loading="lazy"
    draggable="false"
    alt="Imagen representativa de {{ code }}"
    crossorigin="anonymous"/>
</div>
<form [formGroup]="statusForm">
  <div formArrayName="images" class="input-group mb-2">
    @for (control of forms.controls; track $index) {
      <select  
        [formControlName]="$index" 
        [class]="selectClass($index)" 
        [attr.aria-label]="'Cambiar estado de la imagen ' + ($index + 1)"
        class="form-select" 
        title="Cambiar estado">
        <option value="-1"></option>
        @for (status of options; track $index) {
          <option [value]="status">{{ statusChar(status) }}</option>
        }
      </select>
    }
  </div>
</form>
<p class="mb-0">{{ desc }}</p>
