@import "local_variables";

$input-focus-border-color: red;

:host {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.login-aside,
.login-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.login-aside {
  background-color: $login-bg-aside;
  color: $login-color-aside;
  text-align: right;
  padding: 2rem 3rem 2rem 2rem;
  justify-content: flex-end;

  .aside-content {
    h2,
    p {
      margin-bottom: 1rem;
    }
  }
}

.login-section {
  background-color: $login-bg-section;
  padding: 2rem 2rem 2rem 3rem;
}

.login-form {
  display: grid;
  gap: 1rem;

  .form-group,
  button {
    margin: 0;
  }

  label {
    color: $login-color-section;
  }

  button {
    @include button-outline-variant($login-btn-color);
  }
}

@include media-breakpoint-down(xl) {
  :host {
    flex-direction: column;
  }
  .login-aside {
    order: 2;
    padding: 2rem;
    justify-content: center;
    text-align: center;
  }
  .login-section {
    order: 1;
    padding: 2rem;
    justify-content: center;
  }
}
