<div class="d-inline-block position-relative">
  <canvas #canvas class="border-start border-end"></canvas>
  <div
    #trigger
    [ngbPopover]="objectPopover"
    [style.left.px]="leftX()"
    [style.top.px]="topY()"
    popoverTitle="Editar Selección"
    popoverClass="forms-objects"
    placement="bottom"
    container="body"
    triggers="manual"
    [autoClose]="false"
    class="position-absolute"
  ></div>
</div>
<ng-template #objectPopover>
  @if (popoverType() === 'line') {
    <ng-container *ngTemplateOutlet="linePopover"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="textboxPopover"></ng-container>
  }
</ng-template>
<ng-template #linePopover>
  <form [formGroup]="lineForm" class="d-flex flex-nowrap gap-2">
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-spacing"></i>
      </span>
      <input
        #swInput
        #swDirective="ngbTypeahead"
        [ngbTypeahead]="searchStrokeLine"
        formControlName="strokeWidth"
        class="form-control form-control-sm form-fixed"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        maxlength="2"
      />
    </div>
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-opacity"></i>
      </span>
      <input
        formControlName="opacity"
        type="number"
        min="0.1"
        step="0.1"
        max="1"
        class="form-control form-control-sm"
      />
    </div>
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-stroke"></i>
      </span>
      <input
        formControlName="stroke"
        type="color"
        class="form-control form-control-sm form-control-color form-fixed"
      />
    </div>
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-background"></i>
      </span>
      <input
        formControlName="backgroundColor"
        type="color"
        class="form-control form-control-sm form-control-color form-fixed"
      />
      @if (!bgIsTransparent()) {
        <button
          (click)="setTransparentBg()"
          type="button"
          class="btn btn-outline-secondary"
        >
          <span class="ico-transparent"></span>
        </button>
      }
    </div>
    <button
      (click)="toggleCap()"
      class="btn btn-sm btn-outline-dark"
    >
      <span [class]="icoLineCap()"></span>
    </button>
  </form>
</ng-template>
<ng-template #textboxPopover>
  @if (textboxMode() === 'text') {
    <form [formGroup]="textForm" class="d-flex flex-column row-gap-2">
      <div class="d-flex flex-nowrap gap-2">
        <button
          (click)="toggleBold()"
          [class.active]="isBold()"
          class="btn btn-sm btn-outline-dark"
          type="button">
          <i class="ico-bold"></i>
        </button>
        <button
          (click)="toggleItalic()"
          [class.active]="isItalic()"
          class="btn btn-sm btn-outline-dark"
          type="button">
          <i class="ico-italic"></i>
        </button>
        <div class="btn-group">
          <div
            ngbDropdown
            class="btn-group"
            role="group"
            aria-label="Button group with nested dropdown">
            
            <button
              (click)="toggleUnderline()"
              [class.active]="isUnderline()"
              class="btn btn-sm btn-outline-dark"
              type="button">
              <i class="ico-underline"></i>
            </button>
            <button
              ngbDropdownToggle
              type="button"
              class="btn btn-sm btn-outline-dark dropdown-toggle-split">
            </button>

            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-dark narrow">
              <button
                (click)="toggleOverline()"
                [class.active]="isOverline()"
                ngbDropdownItem
                type="button">
                <i class="ico-overline"></i>
              </button>

              <button
                (click)="toggleLinethrough()"
                [class.active]="isLinethrough()"
                ngbDropdownItem
                type="button">
                <i class="ico-linethrough"></i>
              </button>
            </div>
          </div>
        </div>
        <button
          (click)="setTextAlign('left')"
          [class.active]="isTextAlign('left')"
          type="button"
          class="btn btn-sm btn-outline-dark">
          <span class="ico-left"></span>
        </button>
        <button
          (click)="setTextAlign('center')"
          [class.active]="isTextAlign('center')"
          type="button"
          class="btn btn-sm btn-outline-dark">
          <span class="ico-center"></span>
        </button>
        <button
          (click)="setTextAlign('right')"
          [class.active]="isTextAlign('right')"
          type="button"
          class="btn btn-sm btn-outline-dark">
          <span class="ico-right"></span>
        </button>
        <button
          (click)="setTextAlign('justify')"
          [class.active]="isTextAlign('justify')"
          type="button"
          class="btn btn-sm btn-outline-dark">
          <span class="ico-justify"></span>
        </button>
        <button (click)="textboxMode.set('color')" type="button" class="btn btn-sm btn-outline-secondary btn-color">
          <i class="ico-color"></i>
        </button>
      </div>
      <div class="d-flex flex-nowrap gap-2 justify-content-center">
        <div class="input-group input-group-sm w-auto">
          <span class="input-group-text">
            <i class="ico-font"></i>
          </span>
          <input
            #fontInput
            #fontDirective="ngbTypeahead"
            [ngbTypeahead]="searchFont"
            [selectOnExact]="true"
            formControlName="fontFamily"
            class="form-control form-control-sm"
            type="text"
          />
        </div>
        <div class="input-group input-group-sm w-auto">
          <span class="input-group-text">
            <i class="ico-font-size"></i>
          </span>
          <input
            #fsInput
            #fsDirective="ngbTypeahead"
            [ngbTypeahead]="searchSize"
            formControlName="fontSize"
            popupClass="typeahead-auto-width"
            class="form-control form-control-sm form-fixed"
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            maxlength="3"
          />
        </div>
      </div>
    </form>
  } @else {
    <form [formGroup]="textForm" class="d-flex flex-nowrap gap-2">
      <div class="input-group input-group-sm w-auto">
        <span class="input-group-text">
          <i class="ico-stroke"></i>
        </span>
        <input
          formControlName="stroke"
          type="color"
          class="form-control form-control-sm form-control-color form-fixed"
        />
        @if (!strokeIsTransparent()) {
          <button
            (click)="setTransparentStroke()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <span class="ico-transparent"></span>
          </button>
        }
      </div>
      <div class="input-group input-group-sm w-auto">
        <span class="input-group-text">
          <i class="ico-fill"></i>
        </span>
        <input
          formControlName="fill"
          type="color"
          class="form-control form-control-sm form-control-color form-fixed"
        />
      </div>
      <div class="input-group input-group-sm w-auto">
        <span class="input-group-text">
          <i class="ico-background"></i>
        </span>
        <input
          formControlName="textBackgroundColor"
          type="color"
          class="form-control form-control-sm form-control-color form-fixed"
        />
        @if (!bgIsTransparent()) {
          <button
            (click)="setTransparentBg()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <span class="ico-transparent"></span>
          </button>
        }
      </div>
      <button (click)="textboxMode.set('text')" type="button" class="btn btn-sm btn-outline-secondary btn-color">
        <i class="ico-color"></i>
      </button>
    </form>
  }
</ng-template>
<ng-template #fileModal let-modal>
  <div class="modal-header">
    <label class="modal-title h4" id="modal-basic-title" for="file_canvas">
      Selecciona una imagen
    </label>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <input
      #inputFile
      (change)="inputFile.blur()"
      type="file"
      class="form-control form-control-sm"
      id="file_canvas"
      accept="image/png, image/jpeg"
      title="Elija un archivo de imagen para cargar"
      placeholder="Select an image"
    />
  </div>
  <div class="modal-footer">
    <button
      (click)="changeBackground(inputFile, modal)"
      type="button"
      class="btn btn-sm btn-outline-secondary"
    >
      Cargar imagen
    </button>
  </div>
</ng-template>
