@import "local_variables";
@import "local_mixins";

@include iconsCollection($editor-icon-collection);

input {
  &.form-fixed {
    width: 3rem !important;
  }

  &.form-s4 {
    width: 3.5rem !important;
  }

  &[type=number] {
    max-width: 4rem !important;
  }
}

.btn-color {
  @include button-outline-variant($purple-500)
}

.dropdown-menu.narrow {
  min-width: 0;
  width: 48px;
}