<div class="d-inline-block position-relative">
  <canvas #canvas class="border-start border-end"></canvas>
  <div
    #trigger
    [ngbPopover]="objectPopover"
    [style.left.px]="leftX()"
    [style.top.px]="topY()"
    popoverTitle="Editar Selección"
    popoverClass="forms-objects"
    placement="bottom"
    container="body"
    triggers="manual"
    [autoClose]="false"
    class="position-absolute"
  ></div>
</div>
<ng-template #objectPopover>
  @if (popoverType() === 'line') {
    <ng-container *ngTemplateOutlet="linePopover"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="textPopover"></ng-container>
  }
</ng-template>
<ng-template #linePopover>
  <form [formGroup]="lineForm" class="d-flex flex-nowrap gap-1">
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-spacing"></i>
      </span>
      <input
        #swInput
        #swDirective="ngbTypeahead"
        [ngbTypeahead]="searchStrokeLine"
        formControlName="strokeWidth"
        class="form-control form-control-sm"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        maxlength="2"
      />
    </div>
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-opacity"></i>
      </span>
      <input
        formControlName="opacity"
        type="number"
        min="0.1"
        step="0.1"
        max="1"
        class="form-control form-control-sm"
      />
    </div>
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-stroke"></i>
      </span>
      <input
        formControlName="stroke"
        type="color"
        class="form-control form-control-sm form-control-color"
      />
    </div>
    <div class="input-group input-group-sm w-auto">
      <span class="input-group-text">
        <i class="ico-background"></i>
      </span>
      <input
        formControlName="backgroundColor"
        type="color"
        class="form-control form-control-sm form-control-color"
      />
      @if (!bgIsTransparent()) {
      <button
        (click)="setTransparentBg()"
        type="button"
        class="btn btn-outline-secondary"
      >
        <span class="ico-transparent"></span>
      </button>
      }
    </div>
    <button
      (click)="toggleCap()"
      class="btn btn-sm btn-outline-dark"
    >
      <span [class]="icoLineCap()"></span>
    </button>
  </form>
</ng-template>
<ng-template #textPopover>
  Contenido del popover con información de texto.
</ng-template>
<ng-template #fileModal let-modal>
  <div class="modal-header">
    <label class="modal-title h4" id="modal-basic-title" for="file_canvas">
      Selecciona una imagen
    </label>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <input
      #inputFile
      (change)="inputFile.blur()"
      type="file"
      class="form-control form-control-sm"
      id="file_canvas"
      accept="image/png, image/jpeg"
      title="Elija un archivo de imagen para cargar"
      placeholder="Select an image"
    />
  </div>
  <div class="modal-footer">
    <button
      (click)="changeBackground(inputFile, modal)"
      type="button"
      class="btn btn-outline-secondary"
    >
      Cargar imagen
    </button>
  </div>
</ng-template>
